[package]
name = "allsorts"
version = "0.4.0"
authors = ["YesLogic Pty. Ltd. <info@yeslogic.com>"]
edition = "2018"

homepage = "https://github.com/yeslogic/allsorts"
documentation = "https://docs.rs/crate/allsorts"
repository = "https://github.com/yeslogic/allsorts"

readme = "README.md"
license = "Apache-2.0"
include = ["/LICENSE", "src/**/*", "benches/**/*"]

description = "Font parser, shaping engine, and subsetter for OpenType, WOFF, and WOFF2"
keywords = ["font", "shaping", "opentype", "truetype", "parse"]
categories = ["text-processing"]

[dependencies]
bitflags = "1.0"
bitreader = "0.3.2"
brotli-decompressor = "2.3"
byteorder = "1.2"
encoding_rs = "0.8.16"
flate2 = { version = "1.0", default-features = false, features = ["zlib"] }
glyph-names = "0.1"
itertools = "0.8"
lazy_static = "1.3.0"
libc = "0.2"
log = "0.4"
num-traits = "0.2"
rental = "0.5.5"
rustc-hash = "1.1.0"
tinyvec = { version = "0.3.3", features = ["alloc"] }
unicode-joining-type = "0.3.0"

[dev-dependencies]
criterion = "0.3"
regex = "1.1.6"

[[bench]]
name = "bench-shape"
harness = false

[[bench]]
name = "bench-read"
harness = false

[features]
prince = []
