name: CI

on:
  push:
    branches: ["master"]
    tags: ["v[0-9]+.[0-9]+.[0-9]+"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

env:
  CARGO_PROFILE_DEV_OPT_LEVEL: 1

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        rust: [1.83.0, stable, beta, nightly]
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt
      - run: cargo test # check default features
      - run: cargo test --features specimen # check with font-specimen
      - run: cargo check --no-default-features --features flate2_zlib # Check without default features.
      - run: cargo check --no-default-features --features flate2_rust

      - name: Docs
        if: matrix.rust == 'nightly'
        env:
          RUSTDOCFLAGS: --cfg docsrs
        run: cargo doc --all-features -p allsorts
